:root {
    --color-primario: rgb(250, 238, 224);
    --color-secundario: #5c4b92;
    --color-terciario: #9e46f8;
    --color-boton: #ffffff;
    --color-hover: #ef93bd;
    --base-font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter";
    text-decoration: none;
    background: var(--color-primario);
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 75%;
}

header {
    position: absolute;
    margin: 2.5rem 0rem 0rem 2.5rem;
    background-color: transparent;
}

header.logo {
    display: flex;
    align-items: flex-start;
    width: 7.5rem;
    height: 3rem;
}

.logo{
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: row;
    background-size: cover;
    background: rgb(83,4,105);
    background: linear-gradient(232deg, rgba(83,4,105,1) 0%, rgba(238,174,202,1) 42%, rgba(250, 238, 224, 1) 62%);
    background-position: right;
}

.encriptador {
    width: 60%;
    margin: 10.5rem 0rem 0rem 8.75rem;
    background: transparent;
}

.textoEntrada {
    width: 41.25rem;
    height: 18rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    padding: 1rem;
    outline: none;
    border: 1px solid var(--color-secundario);
    border-radius: 1rem;
    resize: none;
    text-transform: lowercase;
}

.textoEntrada::placeholder {
    color: var(--color-secundario);
}

.encriptador.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 31.25rem;
}
.alerta{
    background-color: transparent;
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 8px
}

.tx-aviso {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    margin-top: 5rem;
    font-size: 1.5rem;
    line-height: 0%;
    opacity: 0.8;
    color: var(--color-secundario);
    background-color: transparent;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin-top: 3.5rem;
    background-color: transparent;
}

#postBtn {
    display: none;
    /* Agrega otros estilos según el diseño de tu aplicación */
}


.boton1, .boton2 {
    width: 20.5rem;
    height: 4.25rem;
    padding: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
    color: var(--color-boton);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.boton1 {
    background: var(--color-secundario);
    border: 1px solid var(--color-secundario);
}

.boton2 {
    background: var(--color-hover);
    border: 1px solid var(--color-hover);
}

.img-carnalito{
    max-width: 10%;
    background-color: transparent;

}

.img-kill {
    background: var(--color-secundario);
}

.textoEntrada:focus {
    outline: none;
}

.tarjeta {
    width: 20.875rem;
    height: 50.25rem;
    background: var(--color-secundario);
    box-shadow: 10px 24px 32px --8px var(--color-terciario);
    position: relative;
    margin-top: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    border-color: var();
    margin-bottom: 1rem;
}

.tarjeta-contenedor {
    width: 15.625rem;
    margin: auto;
    margin-top: 50%;
    background: var(--color-secundario);
}

.tx1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
    text-align: center;
    color: var(--color-hover);
    background: var(--color-secundario);
}

.tx2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: var(--color-boton);
    background: var(--color-secundario);
}

.tarjetaSalida {
    height: 30.3rem;
    position: absolute;
    padding: 1.25rem;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 1.75.rem;
    line-height: 2.25rem;
    background: transparent;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border: none;
    resize: none;
    color: azure;
}

.tarjetaSalida:focus {
    outline: none;
}

.boton1:hover {
    background-color: #5c4b923f;
    color: var(--color-secundario);
}

.boton2:hover {
    background-color: #ef93bc3d;
    color: var(--color-hover);
}

.copiar {
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 2rem;
    padding: 2px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--color-boton);
    cursor: pointer;
    border-radius: 20px;
    color: var(--color-hover);
    outline: none;
    border: none;
}

.footer {
    background-color: var(--color-secundario);
    margin-top: 0rem;
    padding: 3rem;
    border-top: 2px solid;
    text-align: center;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-secundario);
}

.derechos-de-autor {
    background-color: transparent;
    color: var(--color-boton);
}

@media (max-width: 1250px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encriptador {
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .textoEntrada {
        display: flex;
        align-items: center;
        width: 80%;
    }

    .tx-aviso {
        position: inherit;
        margin: 15px;
    }

    .botones {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .tarjeta {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin-bottom: 1rem;
    }

    .img-kill {
      max-width: 80%;
    }

    .copiar {
        width: 90%;
        margin: 20px 0;
        padding: 10px;
        left: 1rem;
        text-align: center;
        position: relative;
    }

    .tarjeta-contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        padding: 1rem;
    }

    .tarjetaSalida {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 720px) {
    header .logo{
        width: 100%;
        background: var(--White);
        padding: 2px;
    }

    .encriptador{
        width:  90%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12rem;
    }

    .botones{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .tarjeta-contenedor{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        font-weight: 900;
    }
    

    .tarjetaSalida{
        width: 100%;
        height: 210px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .copiar{
        width: 90%;
        margin: 20px 0;
        padding: 10px;
        text-align: center;
        left: 1rem;
        top: 9rem;
    }

    .textoEntrada{
        display: grid;
        gap: 21px;
        width: 100%;
        justify-items: center;
    }


}
@media (max-width: 480px) {

    body {
        font-size: 14px; /* Ajuste del tamaño de fuente para pantallas pequeñas */
    }

    header .logo {
        width: 80%;
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }

    .encriptador {
        width: 90%;
        margin: 120px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px; /* Tamaño de fuente ajustado */
    }

    .textoEntrada {
        width: 100%;
        height: 12rem;
        font-size: 1.25rem;
        padding: 0.5rem;
        text-align: center;
    }

    .botones {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .boton1, .boton2 {
        width: 80%;
        height: 3.5rem;
        font-size: 1rem;
    }

    .tarjeta {
        width: 100%;
        padding: 8rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjeta-contenedor {
        width: 90%;
        font-size: 20px;
        padding: 1rem;
    }

    .tarjetaSalida {
        width: 100%;
        height: 180px;
        font-size: 1.5rem;
        padding: 10px;
        text-align: center;
    }

    .copiar {
        width: 80%;
        margin: 15px 0;
        margin-bottom: 6rem;
        left: 1rem;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }

    footer {
        font-size: 1rem;
        padding: 1rem;
    }
    
    .tx-aviso{
        font-size: small;
        font-weight: 800;
        color: #2e264a;
    }
}

